/* =============== Author Info ================ */
/* 
** Author : Mehedi Hassan Shifat
** Email: mehedihassanshifat01@gmail.com
** Website: http://www.codecafebd.ga
*/

/* Import Fonts */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");

/* General CSS */

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  background: #0a2345;
}

a {
  text-decoration: none !important;
}

/* Navbar CSS */

#navbar {
  width: 100%;
  height: auto;
  padding: 3rem 0;
}

.navbar_content {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  width: 15rem;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.navbar_logo img {
  width: 100%;
  height: 100%;
}

.navbar_hamburger {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.navbar_hamburger img {
  width: 100%;
  height: 100%;
}

/* Hero CSS */

#hero {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10rem;
}

.hero_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero_title {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: #ffffff;
  line-height: 5.5rem;
  text-align: center;
}

.hero_title span {
  color: #2a5da3;
}

.hero_subtitle {
  color: #2a5da3;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 6rem;
  text-align: center;
}

.hero_link {
  background: #0a2345;
  color: #ffffff;
  border: 2px solid #2a5da3;
  border-radius: 10rem;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: 600;
}

@media only screen and (max-width: 779px) {
  #hero {
    padding: 5rem 0;
  }
  .hero_title {
    font-size: 3rem;
  }
}

/* Phones CSS */

#phones {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  background: url("../images/lyrics.png") no-repeat;
  background-position: center;
  overflow: hidden;
}

.phones_image {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phones_image {
  width: 100%;
  height: 100%;
}

/* Headphone CSS */

#headphone {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  background: url("../images/headphone.png") no-repeat;
  background-position: left;
  background-size: 50% 100%;
}

.headphone_content {
  width: 100%;
  height: auto;
  padding: 10rem 5rem;
}

.headphone_title {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.headphone_title span {
  color: #2a5da3;
  line-height: 4rem;
}

.headphone_subtitle {
  width: 100%;
  color: #4f627b;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.headphone_link {
  border: 2px solid #2a5da3;
  border-radius: 10rem;
  padding: 0.8rem 3.5rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .headphone_none {
    display: none;
  }
  #headphone {
    background-size: 80% 100%;
  }
}

@media only screen and (max-width: 558px) {
  #headphone {
    background-position: right;
    background-size: cover;
  }
}

/* Features Section */

#features {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  overflow: hidden;
}

.features_title {
  font-size: 3.5rem;
  color: #ffffff;
  text-align: center;
}

.features_title span {
  color: #2a5da3;
}

.features_content_middle {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.features_content_middle img {
  width: 100%;
  height: auto;
}

.features_content {
  padding-top: 16rem;
  color: #4f627b;
  margin-bottom: 3rem;
}

.features_content:nth-child(2) {
  padding-top: 0rem;
}

.features_content img {
  width: 3rem;
  margin-bottom: 2rem;
}

.features_content h4 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.features_content p {
  font-size: 1.3rem;
}

/* Showcase CSS */

#show {
  width: 100%;
  height: 50rem;
  padding: 5rem 0;
  overflow: hidden;
  background: url("../images/phones.png") no-repeat;
  background-position: right;
  background-size: 50% 100%;
}

.show_content {
  padding: 5rem 0;
}

.show_content img {
  width: 3rem;
  margin-bottom: 2rem;
}

.show_content h3 {
  color: #ffffff;
  margin-bottom: 2rem;
}

.show_content p {
  color: #4f627b;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1025px) {
  #show {
    background-size: 60% 100%;
  }
}

@media only screen and (max-width: 786px) {
  #show {
    background-size: 100%;
  }
}

/* Quote CSS */

#quote {
  width: 100%;
  height: auto;
  padding: 5rem 0;
  overflow: hidden;
  background: url("../images/quote-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.quote_content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
}

.quote_content p {
  width: 60%;
  color: #4f627b;
  text-align: center;
  margin-bottom: 2rem;
}

.quoter {
  height: 3rem;
  display: flex;
  align-items: center;
}

.quoter img {
  width: 2rem;
  margin-right: 1rem;
}

.quoter h4 {
  color: #213a61;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.quoter h4 span {
  color: #ffffff;
  margin-right: 1rem;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #2a5da3;
}

.carousel-indicators .active {
  background-color: #2a5da3;
}

/* Discover CSS */

#discover {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #030912;
  padding: 10rem 0;
}

.discover_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.discover_content h1 {
  color: #a1afc2;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.discover_content p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #213a61;
  font-size: 1.4rem;
}

.discover_content img {
  margin-top: 5rem;
  margin-bottom: 8rem;
  margin-left: -3rem;
}

.discover_content center a {
  border: 2px solid #2a5da3;
  border-radius: 10rem;
  padding: 0.8rem 3rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Footer CSS */
#footer {
  width: 100%;
  height: auto;
  background: #030912;
  overflow: hidden;
}

.footer_content {
  padding: 2rem 0;
  border-top: 1px solid #0c1625;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2a5da3;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer_content ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer_content ul li {
  margin-right: 1rem;
}

@media only screen and (max-width: 786px) {
  .footer_content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_content ul {
    margin-bottom: 2rem;
  }
}
